[package]
name = "sedum"
version = "0.1.0"
edition = "2018"

[dependencies]
walkdir = "2.3.2"
extract-frontmatter = "2.1.0"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"
pulldown-cmark = "0.8.0"