name: Release

on:
  push:
    branches:
      - main

jobs:
  get_version:
    runs-on: ubuntu-latest
    name: Get version from cargo.toml
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get version
        id: version
        run: cargo metadata --no-deps --format-version 1 | jq '.packages[0].version' -r
    outputs:
      tag: ${{ steps.version.outputs }}
  release:
    name: Build and Release
    runs-on: ubuntu-latest
    needs: get_version
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build project
        run: cargo build --release --locked
      - name: Bump version and push tag/create release point
        uses: anothrNick/github-tag-action@1.17.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_TAG: ${{ needs.get_version.outputs.tag }}
        id: bump_version
      - name: Upload binary to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/sedum
          asset_name: sedum
          tag: ${{ steps.bump_version.outputs.new_tag }}
          overwrite: true
